<form action="/car/create" method="get">
  <input type="text" name="make" placeholder="Enter make"/>
  <br/>
  <input type="number" name="model_year" placeholder="Enter model year"/>
  <br/>
  Choose a color for your car:
  <br/>
  <input type="color" name="color">
  <br/>
  <input type="submit" value="Simulate car"/>
</form>
